.search_input {
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}

.search_loading {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.search_list {
    list-style: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin: auto;
    display: table;
}
.search_list li {
    display: table-row;
    padding: 10px;
    margin: 10px;
    width: auto;
}
.search_list li:nth-child(odd) {
    background-color: hsl(from var(--accent-color) h s l / 0.2);
}
.search_list li:nth-child(even) {
    background-color: hsl(from var(--accent-color) h s l / 0.1);
}
.search_list li span:first-child {
    font-weight: bold;
}
.search_list li span, a {
    display: table-cell;
    padding: 10px;
    text-align: left;
}
.search_list li a {
    width: 100px;
    text-align: center;
}

.section_pagination {
    margin: auto;
    text-align: center;
    width: 50%;
}
.search_pagination {
    list-style: none;
    display: flex;
}
.search_pagination li{
    flex:1;
    padding: 10px;
    cursor: pointer;
    background-color: none;
    border-radius: var(--border-radius);
    margin: 0 1px;
}
.search_pagination li.active{
    background-color: hsl(from var(--accent-color) h s l / 0.1);
    pointer-events: none;
}
.search_pagination li.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.search_pagination li[class*="arrow"]{
    background-color: hsl(from var(--text-color) h s l / 0.1);
}